body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

@font-face {
    font-family: 'Norse-Bold'; /* You can name this anything */
    src: url(/fonts/Norse-Bold.otf) format('opentype'); /* Ensure the path is correct */
    font-weight: normal; /* Optional: Set the font weight */
    font-style: normal; /* Optional: Set the font style */
}

.sidebar {
    width: 40%;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    background-image: url(AIimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    background-color: rgba(33, 32, 32, 0.6);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-text {
    font-size: 60px;
    color: white; 
    font-family: 'Norse-Bold', sans-serif;
}

.main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.content-section {
    flex: 1;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], 
input[type="email"],
input[type="tel"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}